## Unit 5 Progress Report

**Group Members:**
<br>Stephanie Kugle
<br>Joshua Pearson

**Project Topic:**
<br>A Cost Benefit Analysis of Renewable Energy

As climate change becomes a hot topic issue, whether our planet will continue to support life, people are looking at what they can do to contribute to a better future for planet Earth.  We will analyze data to support converting energy from non-renewable sources to renewable and alternative sources of energy.  Our analysis will include insight into Coal and Oil energy sources, the viability of renewable sources such as Hydroelectic, Wind and Solar energies and long term impact (including costs, output, etc.) of renewable versus non-renewable energy sources.

## Oil and Coal

Oil and coal are energy sources with finite amounts available.  We will use datasets to show that with long term use they are responsible for emissions that lead to environmental damage.  Through examination of the data, we hope to support that the financial impact of converting from these sources to more sustainable, renewable sources is negligible when comparing the emissions outputs of these sources.

We have some preliminary data regarding emissions from coal and oil power plants.  Combining this data with analysis we will show that long term use of oil and coal as an energy source is not viable for the planet.

In [95]:
import pandas as pd
import string
from altair import Chart, X, Y, Color, Scale
import altair as alt
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
#import wordcloud

coal_consume_df = pd.read_csv(r"C:\Users\skugl\Desktop\School\CS304 Data Science\Final Project\Datasets\Coal\Coal Consumption.csv")
#Source for above data: https://www.eia.gov/totalenergy/data/browser/csv.php?tbl=T06.02
print(coal_consume_df.head())
coal_consume_df.columns

       MSN  YYYYMM     Value  Column_Order  \
0  CLRCPUS  194913  52407.00             1
1  CLRCPUS  195013  51562.35             1
2  CLRCPUS  195113  47719.57             1
3  CLRCPUS  195213  44282.40             1
4  CLRCPUS  195313  39604.00             1

                               Description                 Unit
0  Coal Consumed by the Residential Sector  Thousand Short Tons
1  Coal Consumed by the Residential Sector  Thousand Short Tons
2  Coal Consumed by the Residential Sector  Thousand Short Tons
3  Coal Consumed by the Residential Sector  Thousand Short Tons
4  Coal Consumed by the Residential Sector  Thousand Short Tons

Index(['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'], dtype='object')

Using the above data to put coal consumption into perspective.  Cleanup will be needed on the date data, as year and month are squeezed together.  We'll eliminate the month data and condensed the data by year.
<br> Following assisted in clean up
<br>https://stackoverflow.com/questions/42349572/remove-first-x-number-of-characters-from-each-row-in-a-column-of-a-python-datafr

In [96]:
coal_consume_df['YYYYMM'] = coal_consume_df['YYYYMM'].apply(str)
coal_consume_df['YYYYMM'] = coal_consume_df['YYYYMM'].str[:4]
print(coal_consume_df.head())
coal_consume_df.shape

       MSN YYYYMM     Value  Column_Order  \
0  CLRCPUS   1949  52407.00             1
1  CLRCPUS   1950  51562.35             1
2  CLRCPUS   1951  47719.57             1
3  CLRCPUS   1952  44282.40             1
4  CLRCPUS   1953  39604.00             1

                               Description                 Unit
0  Coal Consumed by the Residential Sector  Thousand Short Tons
1  Coal Consumed by the Residential Sector  Thousand Short Tons
2  Coal Consumed by the Residential Sector  Thousand Short Tons
3  Coal Consumed by the Residential Sector  Thousand Short Tons
4  Coal Consumed by the Residential Sector  Thousand Short Tons

(7363, 6)

In [97]:
#Noticing that there are different MSN values and each spans the same number of years
coal_consume_df['MSN'].unique()

array(['CLRCPUS', 'CLC3PUS', 'CLC4PUS', 'CLCCPUS', 'CLKCPUS', 'CLI3PUS',
       'CLI4PUS', 'CLOCPUS', 'CLICPUS', 'CLACPUS', 'CLEIPUS', 'CLTCPUS'],
      dtype=object)

Removing the MSN, Column_Order anad Description columns as it is unnecessary data.  We are interested in seeing total consumption by year not on a granular level.

In [98]:
coal_consume_df = coal_consume_df[['YYYYMM', 'Value', 'Unit']]
#Rename YYYYMM column to something more meangingful
coal_consume_df = coal_consume_df.rename({'YYYYMM': 'Year'}, axis=1)
coal_consume_df.head()

   Year     Value                 Unit
0  1949  52407.00  Thousand Short Tons
1  1950  51562.35  Thousand Short Tons
2  1951  47719.57  Thousand Short Tons
3  1952  44282.40  Thousand Short Tons
4  1953  39604.00  Thousand Short Tons

Total coal consumption by year
<br>https://stackoverflow.com/questions/64640182/how-to-modify-numercial-values-in-a-column-of-mixed-data-types-in-a-pandas-dataf

In [99]:
total_coal_comsumption_df = coal_consume_df.groupby('Year').sum()
#Removing year 2022 as the data seem incomplete
total_coal_comsumption_df.head()

            Value
Year
1949  1364388.840
1950  1396484.190
1951  1436694.442
1952  1288126.082
1953  1296289.408

In [100]:
# if data is in index and needs to used by altair, it needs to be moved to a regular column using reset code below
# https://altair-viz.github.io/user_guide/data.html
total_coal_comsumption_df = total_coal_comsumption_df.reset_index()
total_coal_comsumption_df = total_coal_comsumption_df[total_coal_comsumption_df['Year'] != '2022']
alt.Chart(total_coal_comsumption_df[['Year', 'Value']]).mark_line().encode(
    x='Year',y='Value')

alt.Chart(...)

As we can see from the above, coal consumption was on the rise in America from 1972 - 2008.  Yet we can see starting around 2008 that coal consumption has been on a steep decline.  America has invested in energy efficiency and althernative sources of energy, however, America's energy consumption increases yearly, therefore it must be finding ways to supplement this need.

In [71]:
oil_consume_df = pd.read_csv(r"C:\Users\skugl\Desktop\School\CS304 Data Science\Final Project\Datasets\Oil\Oil Consumption by Sector\Total Oil Consumption.csv")
#Source for above data: https://www.eia.gov/totalenergy/data/monthly/
#Scroll down to petroleum
#Then the 3 csv's downloaded were 3.7a, 3.7b and 3.7c
print(oil_consume_df.head())
print(oil_consume_df.shape)
oil_consume_df.columns

       MSN  YYYYMM    Value  Column_Order  \
0  DFRCPUS  194913  329.173             1
1  DFRCPUS  195013  389.934             1
2  DFRCPUS  195113  435.929             1
3  DFRCPUS  195213  451.582             1
4  DFRCPUS  195313  456.479             1

                                         Description                      Unit
0  Distillate Fuel Oil Consumed by the Residentia...  Thousand Barrels per Day
1  Distillate Fuel Oil Consumed by the Residentia...  Thousand Barrels per Day
2  Distillate Fuel Oil Consumed by the Residentia...  Thousand Barrels per Day
3  Distillate Fuel Oil Consumed by the Residentia...  Thousand Barrels per Day
4  Distillate Fuel Oil Consumed by the Residentia...  Thousand Barrels per Day
(23812, 6)

Index(['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'], dtype='object')

Removing duplicates
<br>Note to self, drop_duplicates has 'None' return type, therefore do not equal it to the df or you'll get an error

In [72]:
oil_consume_df.drop_duplicates(keep='first', inplace=True)
oil_consume_df.shape

(23812, 6)

Cleaning up Date values to only be the year and value

In [73]:
oil_consume_df['YYYYMM'] = oil_consume_df['YYYYMM'].apply(str)
oil_consume_df['YYYYMM'] = oil_consume_df['YYYYMM'].str[:4]
# Reducing columns to only those needed
oil_consume_df = oil_consume_df[['YYYYMM', 'Value']]
#Rename YYYYMM column to something more meangingful
oil_consume_df = oil_consume_df.rename({'YYYYMM': 'Year'}, axis=1)
print(oil_consume_df.head())
oil_consume_df.shape

   Year    Value
0  1949  329.173
1  1950  389.934
2  1951  435.929
3  1952  451.582
4  1953  456.479

(23812, 2)

Aggregating data by year

In [90]:
import pandas as pd

total_oil_comsumption_df = oil_consume_df.groupby('Year').sum()
total_oil_comsumption_df = total_oil_comsumption_df.reset_index()
print(total_oil_comsumption_df)
#Removing year 2022 as the data seem incomplete
total_oil_comsumption_df = total_oil_comsumption_df[total_oil_comsumption_df['Year'] != '2022']

    Year       Value
0   1949   11563.900
1   1950   12964.503
2   1951   14115.694
3   1952   14633.183
4   1953   15300.275
..   ...         ...
69  2018  551474.826
70  2019  550395.392
71  2020  488550.374
72  2021  533204.592
73  2022  292015.141

[74 rows x 2 columns]

In [91]:
alt.Chart(total_oil_comsumption_df[['Year', 'Value']]).mark_line().encode(
    x='Year',y='Value')

alt.Chart(...)

## Hydroelectric, Wind and Solar

There are many sources of renewable energy, the top seven include:
1. Solar
2. Wind
3. Hydroelectric
4. Tidal
5. Geothermal
6. Nuclear
7. Biomass

With the intention of being able to dive more deeply into an analysis we will focus on Hydroelectric, Wind and Solar.  We will discuss some promising data regarding their viability as well as cross-analyze these energy sources in energy models already being implemented by some countries.  Particularly Iceland and Paraguay, who are already entirely or mostly dependent on renewable energy sources.

Datasets we will use for this analysis include energy output for solar and wind.  As hydro electricity is the biggest source of energy for both Iceland and Paraguay, we will focus on that for analyzing their energy output models.

Data Sources: https://www.worlddata.info/america/usa/energy-consumption.php
<br>https://www.worlddata.info/america/paraguay/energy-consumption.php
<br>https://www.worlddata.info/europe/iceland/energy-consumption.php

Through preliminary analysis of countries, their renewable energy source usage and how much of their energy model is dependent on these sources, we were able to pinpoint Iceland and Paraguay as mostly using hydroelectric to sustain their energy needs.  Is this model viable for the U.S.?  According to the links above, Iceland's yearly electrical consumption is around 17.68 billion kWh, Paraguay's yearly consumption is around 10.90 billion kWh and the U.S.'s yearly consumption is around 3,902.00 billion kWh.  It may be viable for smaller countries, but it may not be viable for a country as large as the U.S.  Consider the following:

*Paraguay*
1. Landmass: 157,048 mi^2
2. Population: 7.22 million (2021)

*Iceland*
1. Landmass: 39,769 mi^2
2. Population: 372,295 (2021)

*U.S.*
1. Landmass: 3.797 million mi^2
2. Population: 7.22 million (2021)

As one can see, the U.S. is supporting a considerably greater landmass (the bigger the landmass the further the energy has to travel to reach consumers) and also supporting a greater consumer base.  Through analysis of datasets, we will determine if renewable sources of energy are able to meet the U.S.'s energy consumption needs.

## Data Source Acknowledgement

Infographic indicating precentage of renewable energy used per country: https://data.oecd.org/energy/renewable-energy.htm#indicator-chart
<br>Dataset regarding Hydropower, Solar and Wind: https://www.eia.gov/renewable/data.php
<br>Datasets for oil energy emissions: https://www.epa.gov/ghgreporting/data-sets
1. 2021 Data Summary Spreadsheet (zip)
2. Emissions by Unit and Fuel Type (zip)

<br>Coal Dataset: https://www.eia.gov/coal/data.php
<br>Pollution, death rates, and cost by energy sources: https://www.kaggle.com/datasets/diegoandresm/pollution-and-death-rates-by-energy-sources
<br>Solar Power Generation Data: https://www.kaggle.com/datasets/anikannal/solar-power-generation-data
<br>World Energy Consumption: https://www.kaggle.com/datasets/pralabhpoudel/world-energy-consumption
<br>Wind Power Generation Data: https://www.kaggle.com/datasets/jorgesandoval/wind-power-generation
<br>Cost of Hydro Power in US: https://hydrosource.ornl.gov/dataset/ornl-hydropower-cost-database-extract-ferc-form-1

## Articles to Aid in Analysis

Morimoto, S. (2021, November 8).  The case of Paraguay: Innovation and energy efficiency for sustainable development.  UNDP. https://www.undp.org/latin-america/blog/case-paraguay-innovation-and-energy-efficiency-sustainable-development#:~:text=Paraguay%20is%20one%20of%20the,non%2Dpolluting%20source%3A%20hydropower.
<br>Michelson, J. (2022, June 28).  7 Renewable Energy Strategies We Can Learn From Iceland.  Forbes.  https://www.forbes.com/sites/joanmichelson2/2022/06/28/iceland-runs-on-85-renewable-energy-7-strategies-we-can-learn-from-them/?sh=51abd3cd313f